.pokecard{
    position: relative;
    overflow: hidden;
    background-color: gray;
    width: 250px;
    border: 5px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.pokecard__back{
    background-color: black;
    width: 100%;
    height: 100px;
}

.pokecard__img{
    width: 65%;
    position: absolute;
}

.pokecard__name{
    padding-top: 50px;
}

.pokecard__types{
    margin: 5px 0;
    display: flex;
}

.pokecard__hr{
    width: 90%;
    margin: 10px 0;
}

.pokecard__stats{
    padding-bottom: 10px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;   
    gap:10px;
}

.pokecard__stats li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slot2::before {
    content: '/';
    margin: 0 5px;
}

/* COLORS */


.grass{
    background-color: green; 
}

.fire{
    background-color: red;
}

.water{
    background-color: dodgerblue;
}

